ion-card-header {
  text-align: center;
  padding: 5px;
}

ion-card-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

ion-card-subtitle {
  font-size: 1.1rem;
  color: whitesmoke;
}

ion-grid {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: rgb(34, 32, 32);
}