<ion-card>
  <ion-grid>
  <ion-row>
    <ion-col size="12" size-md="2">
      <div class="contact-item">
        <ion-icon name="mail-outline"></ion-icon>
        <a [href]="'mailto:' + contact.email">{{ contact.email }}</a>
      </div>
    </ion-col>

    <ion-col size="12" size-md="2">
      <div class="contact-item">
        <ion-icon name="call-outline"></ion-icon>
        <span>{{ contact.phone }}</span>
      </div>
    </ion-col>

    <ion-col size="12" size-md="2">
      <div class="contact-item">
        <ion-icon name="location-outline"></ion-icon>
        <span>{{ contact.location }}</span>
      </div>
    </ion-col>
    <ion-col size="12" size-md="2">
      <div class="contact-item">
        <ion-icon name="flag"></ion-icon>
        <span><b>{{ contact.workAuthorization }}</b></span>
      </div>
    </ion-col>

    <ion-col size="12" size-md="2">
      <div class="contact-item">
        <ion-icon name="logo-linkedin"></ion-icon>
        <a [href]="contact.linkedin" target="_blank">LinkedIn</a>
      </div>
    </ion-col>

    <ion-col size="12" size-md="2">
      <div class="contact-item">
        <ion-icon name="logo-github"></ion-icon>
        <a [href]="contact.github" target="_blank">GitHub</a>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card>