<ion-grid class="appFooter">
    <ion-row>
        <ion-col size="5">
            <span class="footerText">Copyright to Michael Yaacoub</span>
        </ion-col>
        <ion-col size="2" align-self-center style="text-align: center;">            
            <span class="footerText" style="color:white; cursor: pointer;" (click)="showVersionInfo()">v{{appVersion}}</span>
        </ion-col>
        <ion-col size="5" align-self-right style="text-align: right;">
            
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            &nbsp;
        </ion-col>
    </ion-row>
</ion-grid>