<ion-content>
  <div class="pdf-controls">
    <ion-button fill="outline" size="small" (click)="prevPage()" [disabled]="page === 1">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <span>Page {{ page }} / {{ totalPages }}</span>

    <ion-button fill="outline" size="small" (click)="nextPage()" [disabled]="page === totalPages">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <pdf-viewer 
    [src]="pdfUrl" 
    [page]="page"
    [original-size]="false"
    style="display: block;">
  </pdf-viewer>
</ion-content>