<ion-header>
  <ion-toolbar color="dark">
    <app-resume-header
            *ngIf="resume"
            [name]="resume.name"
            [headline]="resume.headline"
            [location]="resume.location"
            [workAuthorization]="resume.workAuthorization"
            [linkedin]="resume.linkedin"
            [github]="resume.github">
          </app-resume-header>
    
  </ion-toolbar>
  <!-- Tabs/Segments for navigation -->
  <ion-card>
    <ion-toolbar>
      <ion-segment [(ngModel)]="selectedSection" value="summary" scrollable mode="ios">
        <ion-segment-button value="summary">
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>Summary</ion-label>
        </ion-segment-button>
        <ion-segment-button value="skills">
          <ion-icon name="construct-outline"></ion-icon>
          <ion-label>Skills</ion-label>
        </ion-segment-button>
        <ion-segment-button value="education">
          <ion-icon name="library-outline"></ion-icon>
          <ion-label>Education</ion-label>
        </ion-segment-button>
        <ion-segment-button value="certifications">
          <ion-icon name="ribbon-outline"></ion-icon>
          <ion-label>Certifications</ion-label>
        </ion-segment-button>
        <ion-segment-button value="experiences">
          <ion-icon name="briefcase-outline"></ion-icon>
          <ion-label>Experience</ion-label>
        </ion-segment-button>
        <!--
        <ion-segment-button value="careerHighlights">
          <ion-icon name="trophy-outline"></ion-icon>
          <ion-label>Career Highlights</ion-label>
        </ion-segment-button>
        -->
        <ion-segment-button value="aiML">
          <ion-icon name="analytics-outline"></ion-icon>
          <ion-label>AI / ML Projects</ion-label>
        </ion-segment-button>
        <ion-segment-button value="contact">
          <ion-icon name="call-outline"></ion-icon>
          <ion-label>Contact Me</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-card>
</ion-header>

<ion-content class="resume-background ion-padding">
  <!-- Conditionally render sections based on selected tab -->
  <ion-card *ngIf="resume">
    <ng-container *ngIf="selectedSection === 'summary'">
      <app-resume-summary [summary]="resume.summary"></app-resume-summary>
    </ng-container>

    <ng-container *ngIf="selectedSection === 'skills'">
      <app-resume-skills [skills]="resume.skills"></app-resume-skills>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'education'">
      <app-resume-education [education]="resume.education">
      </app-resume-education>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'certifications'">
      <app-resume-certifications [certifications]="resume.certifications">
      </app-resume-certifications>
    </ng-container>

    <ng-container *ngIf="selectedSection === 'experiences'">
      <app-resume-experiences [experiences]="resume.experiences">
      </app-resume-experiences>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'careerHighlights'">
      <app-pdf-viewer>
      </app-pdf-viewer>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'aiML'">
      <app-ai-ml-projects [aiMlProjects]="resume.aiMlProjects">
      </app-ai-ml-projects>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'contact'">
      <app-resume-contact [contact]="resume.contact"></app-resume-contact>
    </ng-container>
  </ion-card>
  
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar color="white" background-color="dark">
    <ion-title size="small" class="footer-text">
      © {{ currentYear }} Michael Yaacoub
    </ion-title>
  </ion-toolbar>
</ion-footer>
